[
  {rabbit, [
    {log_levels, [{connection, error}]},
    {cluster_nodes, {[{{with $rabbits := .Instances}}{{range (each $rabbits) }}'rabbit@rbt{{.}}'{{if ne (plus 1 .) $rabbits}},{{end}}{{end}}{{end}}], disc}}
  ]},
  {kernel, [
    {inet_dist_listen_max, 44001},
    {inet_dist_listen_min, 44001}
  ]}
].
